
<div class="footer">
	<nav>
	<ul class="nav nav-pills nav-fill">
		<li class="nav-item"><a href="https://github.com/anampc">GitHub</a></li>
		<li class="nav-item"><a href="https://scholar.google.com/citations?user=wHZc9UsAAAAJ&hl">GoogleScholar</a></li>
		<li class="nav-item"><a href="https://orcid.org/0000-0002-0821-0286">ORCID</a></li>
		<li class="nav-item"><a href="https://twitter.com/AnaPalacio_C/">Twitter</a></li>
		<li class="nav-item"><a href="/blog">Blog</a></li>
		<!--<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>-->
	</ul>
	</nav>

</div> <!-- /footer -->
